.track-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 4.24em;
    border-top: 1px solid #eee;
    padding: 0 2.62em;
    cursor: pointer;
}

.track-selection:hover {
    background: #f6f6f6;
}

.track-selection:last-of-type {
    border-bottom: 1px solid #eee;
}

.track-selection .playing-indicator {
    width: 30px;
}

.track-selection .track-name {
    flex: 1;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-selection .star-button {
    width: 30px;
}