.track-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 4.24em;
    border-top: 1px solid #eee;
    padding: 0;
    cursor: pointer;
    transition: background 100ms ease-in-out;

    &:hover {
        background: #f6f6f6;
    }

    &:last-of-type {
        border-bottom: 1px solid #eee;
    }

    .playing-status {
        display: flex;
        align-items: center;
        opacity: 0;
        transition: opacity 100ms ease-in-out;
        fill: black;
        padding: 0 0.5em;

        svg {
            width: 1em;
            height: 1em;
        }
    }

    .track-details {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;

        &:hover .playing-status {
            opacity: 0.3;
        }
    }

    &.playing .track-details .playing-status {
        opacity: 1;
    }

    .track-name {
        flex: 1;
        display: flex;
        align-items: center;
        white-space: nowrap;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .track-actions {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .star-button {
        display: flex;
        align-items: center;
        padding: 0 0.5em;
        font-size: 2em;
        transition: background 100ms ease-in-out, fill 100ms ease-in-out, stroke 100ms ease-in-out;
        stroke: gray;
        stroke-width: 0.05em;
        stroke-linejoin: round;
        fill: transparent;

        &:hover {
            background: #ddd;
            stroke: darkgoldenrod;
        }

        &.starred {
            stroke: darkgoldenrod;
            fill: darkgoldenrod;
        }

        svg {
            width: 0.8em;
            height: 0.8em;
        }
     }

}